<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style="margin-top: 100px;">
  <div class="col s12">
      <h1>Prueba CondorLabs</h1>
      <div class="input-field col s3">
        <input placeholder="Enter the start date" id="start_date" type="text" class="validate">
        <label for="start_date">Start Date</label>
      </div>
      <div class="input-field col s3">
        <input placeholder="Enter the end date" id="End_date" type="text" class="validate">
        <label for="End_date">End Date</label>
      </div>
    </div>
  </div>
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="card">
        <app-table (onExecuteRequest)="getLogs($event)" [data]="logs" [(selectedItem)]="selectedItem">
          <app-column header="State Code" name="cd_cebroker_state" orderable="true"></app-column>
          <app-column header="Pro Code" name="pro_cde" orderable="true"></app-column>
          <app-column header="Profession" name="cd_profession" orderable="true"></app-column>
          <app-column header="License ID" name="id_license" orderable="true"></app-column>
          <app-column header="Cycle End Date" name="dt_end" orderable="true" [render]="renderDate"></app-column>
          <app-column header="Compliance Status" name="ds_compl_status_returned" orderable="true"></app-column>
          <app-column header="Client ID" name="id_client_nbr" orderable="true"></app-column>
          <app-column header="Start Log Date" name="dt_Start_Log" orderable="true" [render]="renderDate"></app-column>
          <app-column header="End Log Date" name="dt_end_log" orderable="true" [render]="renderDate"></app-column>
          <app-column header="Environment" name="cd_environment" orderable="true"></app-column>
          <app-column header="Machine" name="cd_machine" orderable="true"></app-column>
        </app-table>
      </div>
      <div class="col s6">
        <div style="display: block">
          <canvas *ngIf="show" baseChart [datasets]="barchartArrayStatus" [labels]="barChartLabelsStatus" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="randomizeStatus()">Update</button>
      </div>
      <div class="col s6">
        <div style="display: block">
          <canvas *ngIf="show" baseChart [datasets]="barChartArrayMachine" [labels]="barChartLabelsMachine" [options]="barChartOptions"
            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
        <button (click)="randomizeMachine()">Update</button>
      </div>
    </div>
  </div>
</div>
